*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex ;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 0;
}
nav .navMenu ul{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .navMenu ul a{
    text-decoration: none;
}
.container{
    width: 90%;
    max-width: 1360px;

    text-align: center;
}

.btn-nav{
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 12px;
    border-radius: 5px;

    background-color: #30B868;
    color: white;
}

.hero-banner{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/hero-bg.png);
   background-size: cover;
   height: 60vh;

   padding: -70px -120px -134px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   gap: 30px;

}

.container{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}

.hero-content{
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
.hero-content h1{
    text-transform: capitalize;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 12px;
}
.hero-content p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.8;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.hero-content .btn-white{
    font-size: 16px;
    background-color: white;
    color: #30B868;

    border: none;
    border-radius: 100px;

    padding: 8px 12px;
    margin-bottom: 24px;
}
.fa-circle{
    display: inline-block;
    margin-right: 8px;
}
.hero-button-01{
    background-color: #30B868;
    color: white;
    font-weight: 500;
    font-size: 16px;
    
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
}

.hero-button-02{
    border: 1px solid white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}
.fa-play{
    display: inline-block;
    margin-right: 8px;
}
.fa-arrow-right{
    display: inline-block;
    margin-left: 8px;
}
